<app-room-controller [ngStyle]="{display:'inline-block'}"></app-room-controller>
<form [formGroup]="dateSelectiveForm" (ngSubmit)="submit()">
  <mat-form-field appearance="fill">
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <label>
        <input matStartDate placeholder="Start date">
      </label>
      <label>
        <input matEndDate placeholder="End date">
      </label>
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>
  <button mat-button type="submit" color="accent">Показати</button>

</form>
<ngx-charts-line-chart *ngIf="temperatureStats.length != 0"
                       [view]="view"
                       [scheme]="colorScheme"
                       [timeline]="timeline"
                       [results]="temperatureStats"
                       [gradient]="gradient"
                       [xAxis]="showXAxis"
                       [yAxis]="showYAxis"
                       [legend]="showLegend"
                       [showXAxisLabel]="showXAxisLabel"
                       [showYAxisLabel]="showYAxisLabel"
                       [xAxisLabel]="xAxisLabel"
                       [yAxisLabel]="yAxisLabelTemperature"
                       [autoScale]="autoScale">

</ngx-charts-line-chart>
<ngx-charts-line-chart *ngIf="humidityStats.length != 0"
                       [view]="view"
                       [scheme]="colorScheme"
                       [timeline]="timeline"
                       [results]="humidityStats"
                       [gradient]="gradient"
                       [xAxis]="showXAxis"
                       [yAxis]="showYAxis"
                       [legend]="showLegend"
                       [showXAxisLabel]="showXAxisLabel"
                       [showYAxisLabel]="showYAxisLabel"
                       [xAxisLabel]="xAxisLabel"
                       [yAxisLabel]="yAxisLabelHumidity"
                       [autoScale]="autoScale">

</ngx-charts-line-chart>
