<div *ngIf="room">
    <h1>{{room.name}}</h1>
    <br>
    <h1>
        <button mat-mini-fab color="warn" class="left" (click)="decreaseTemperature()">-1</button>
        <div [ngClass]={inline:true}>
            Температура:
            {{room.temperature}}
        </div>
        <button mat-mini-fab color="warn"  class="right" (click)="increaseTemperature()">
            <mat-icon>plus_one</mat-icon>
        </button>
    </h1>
    <br>
    <h1>
        <button mat-mini-fab color="warn" class="left" (click)="decreaseHumidity()">-1</button>
        Вологість:
        {{room.humidity}}
        <button mat-mini-fab color="warn" class="right" (click)="increaseHumidity()">
            <mat-icon>plus_one</mat-icon>
        </button>

    </h1>
</div>
