<h1>Створити нову кімнату</h1>
<form [formGroup]="roomCreationForm" (ngSubmit)="submit()">
  <mat-form-field>
    <mat-label>Назва:</mat-label>
    <input type="text" matInput formControlName="name">
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Клієнтський ID:</mat-label>
    <input type="text" matInput formControlName="clientId">
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Температура:</mat-label>
    <input type="number" matInput formControlName="temperature">
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Вологість:</mat-label>
    <input type="number"  matInput formControlName="humidity">
  </mat-form-field>
  <br>
  <button mat-button type="submit" color="accent">Створити</button>

</form>
